<!-- Представление для страницы со списком пользователей -->
<% provide(:title, 'Сообщество') %>
<h1>Пользователи</h1>
<!--постранично разбивает список пользователей | сверху  -->
<%= will_paginate %>
<!--генерация ненумерованного списка, каждая строка - 1 пользователь- Аватар+имя -->
<ul class="users">
  <% @users.each do |user| %>
    <li>
    	<!--генерация ненумерованного списка, каждая строка - 1 пользователь- Аватар+имя -->
      <%= gravatar_for user%>
      <%= link_to user.name, user %>
      <!--позволяет администраторам удалять пользователей -->
      <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Вы уверены?" } %>
  <% end %>
   
    </li>
  <% end %>
</ul>

<!--постранично разбивает список пользователей | снизу  -->
<%= will_paginate %>